<div class="main-container flex flex-col">
  <header class="bg-blue-700 fixed top-0 w-full px-4 py-3 flex flex-wrap items-center justify-between z-10">
    <!-- Left section: Title -->
    <div class="flex items-center gap-3 flex-wrap">
      <div class="text-primary-50 font-bold text-lg">
        My Family Tree
      </div>
    </div>

    <!-- Right section: Buttons -->
    <div class="flex justify-end items-center gap-x-3 mt-3 md:mt-0">
      <div class="p-inputgroup max-w-md mx-auto">
        <input 
          type="text" 
          pInputText 
          [(ngModel)]="searchQuery" 
          placeholder="Search by name..."
          class="border border-gray-300 rounded px-2 py-1 text-sm" 
          (keydown.enter)="searchNode()"
        />
  
        <button 
          *ngIf="searchQuery" 
          pButton 
          icon="pi pi-times" 
          class="p-button-link p-button-sm" 
          (click)="clearSearch()"
          title="Clear">
        </button>
  
        <button 
          pButton 
          icon="pi pi-search" 
          class="p-button-link p-button-sm" 
          (click)="searchNode()"
          title="Search">
        </button>
  
        <button 
          *ngIf="searchMatches['length'] > 1" 
          pButton 
          icon="pi pi-angle-double-left" 
          class="p-button-link p-button-sm" 
          (click)="prevMatch()" 
          title="Previous Match">
        </button>
  
        <button 
          *ngIf="searchMatches['length'] > 1" 
          pButton 
          icon="pi pi-angle-double-right" 
          class="p-button-link p-button-sm" 
          (click)="nextMatch()" 
          title="Next Match">
        </button>
      </div>
      
      <button pButton class="p-button-sm p-button-secondary flex items-center gap-2" (click)="downloadTreeAsJson()">
        <i class="pi pi-download"></i>
        <span>Download</span>
      </button>

      <input type="file" accept=".json" hidden #fileInput (change)="onFileSelected($event)" />
      <button pButton class="p-button-sm p-button-secondary flex items-center gap-2" (click)="fileInput.click()">
        <i class="pi pi-upload"></i>
        <span>Upload</span>
      </button>

      <button pButton label="Logout" (click)="logout()" class="p-button-sm p-button-danger">
      </button>
    </div>
  </header>

  <!-- Spacing to offset fixed header -->
  <div class="pt-20"></div>

  <div class="tree-component-wrapper">
    <family-tree></family-tree>
  </div>
</div>
