.main-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    .headerText {
        font-size: 1.5rem;
    }

    .tree-component-wrapper {
        padding-top: 2rem;
    }
}